<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
{% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kicking Gender Boundaries</title>
    <link rel="stylesheet" href="{% static 'base/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    {% block content %}



    {% endblock %}

    <script type="text/javascript" src = "{% static 'base/vendor.bundle.base.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/off-canvas.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/hoverable-collapse.js' %}"></script>
      <script type="text/javascript" src = "{% static 'js/template.js' %}"></script>
  </body>
</html>
