<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <style media="screen">
      .fa{
        font-size:35px;

      }
      .nowid{

      }
      /*
Bootstrap Breakpoints Mixins
*/
/*
Bootstrap Variables
*/
/*
Code
*/
.m-subscribe1 {
  background: #f8f9fa;
  padding-bottom: 40px;
  padding-top: 44px;
  width: 100%;
}
.m-subscribe1__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 2px;
  text-align: center;
}
@media (min-width: 992px) {
  .m-subscribe1__title {
    font-size: 2rem;
    text-align: left;
  }
}
.m-subscribe1__form {
  float: none;
  margin-top: 36px;
  width: 100%;
}
@media (min-width: 992px) {
  .m-subscribe1__form {
    float: right;
    margin-top: 0;
    width: auto;
  }
}
.m-subscribe1__form input[type=email] {
  border-radius: 20px;
  display: block;
  height: 43px;
  margin-bottom: 10px;
  margin-right: 5px;
  min-width: auto;
  position: relative;
  top: -4px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .m-subscribe1__form input[type=email] {
    display: inline-block;
    margin-bottom: 0;
    width: calc(100% - 160px);
  }
}
@media (min-width: 992px) {
  .m-subscribe1__form input[type=email] {
    display: block;
    margin-right: 16px;
    width: auto;
  }
}
@media (min-width: 992px) {
  .m-subscribe1__form input[type=email] {
    min-width: 290px;
  }
}
@media (min-width: 1200px) {
  .m-subscribe1__form input[type=email] {
    min-width: 334px;
  }
}
.m-subscribe1__form button[type=submit] {
  border-radius: 20px;
  display: block;
  float: right;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 3.2;
  margin-left: auto;
  padding: 0 32px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .m-subscribe1__form button[type=submit] {
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 992px) {
  .m-subscribe1__form button[type=submit] {
    display: block;
    float: none;
    margin-left: 0;
  }
}

      .ms{
        margin-left:10vw;
      }
      .navbg{

      }
      .more{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .more input{
        width:18vw;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
      }

      i{
        text-align: center;
        padding-right: 5px;
      }
      .ones{
        display: flex !important;
        align-items: center;
        flex-direction: row;

      }
      @media only screen and (max-width:990px){
        .nowid{
          text-align: center !important;
        }
        .banner_text_iner h5{
          text-align: center !important;
          margin-left: 25px;
        }
        o
        nav{
          display: none;
        }
        nav{
          width:0;
          height:0;
        }
        nav a img{
          width:0;
          height:0;
        }
        .navbar-toggler {
          width:0;
          height:0;
        }
        .ti-menu{
          width:0;
          height:0;
          opacity: 0;
        }

      }
      .rig{
        text-align: right;
      }
      .banner_part{
        background-image: url({% static 'fball.jpeg' %})
      }
      .single_client_logo{
        width: 8vw;
        height:8vw;
        margin: 0 100px !important;
      }
      .wid{
        width:80vw;
      }
      @media only screen and (max-width:1100px){

        .ms{
          margin: 0 !important;
        }
      }
      .navbar-brand{
        width:9vh;
        height:9vh;
      }
      .banner_part:after{
        background-color: #002F46;
      }
      .cta_part:after{
        opacity: 0.75 !important;
      }
      .cta_part{
        height: 70vh !important;
      }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Kicking Gender Boundaries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'animate.css'%}" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}" />
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'themify-icons.css' %}" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'flaticon.css'%}" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{% static 'magnific-popup.css'%}" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{% static 'slick.css'%}" />
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>

  <body>
    <!--::header part start::-->
    <header class="main_menu home_menu" style="background:">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="https://bbfootballschools.com">
                <img src="{% static 'bbfs.jpg' %}" alt="logo" />
              </a>
              <a class="navbar-brand" href="https://keshavsuri.foundation">
                <img src="{% static 'ksfw.jpg' %}" alt="logo" />
              </a>
              <a class="navbar-brand" href="https://scoutme.in">
                <img src="{% static 'scoutme.png' %}" alt="logo" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="ti-menu"></span>
              </button>

              <div class="collapse navbar-collapse main-menu-item justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="social_icon d-none d-lg-block">
                <a href="https://www.facebook.com/KeshavSuriFoundation/?ref=br_rs"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.linkedin.com/company/scoutme/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.instagram.com/bbfschools/"><i class="fa fa-instagram fa-2x"></i></a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part" style="background-image:url({% static 'bg.jpg' %});background-size:cover;" >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 offset-lg-1">
            <div class="banner_text">
              <div class="banner_text_iner">

                <h1 class="nowid">Kicking Gender Boundaries </h1>
                <br>
                <h5 class="wid">Are you trans* and extremely passionate about sports? Join our program and let's impact the world together. This is India's first inclusivity program in the domain of sports</h5>
                <a href="{% url 'signup' %}" class="btn_1">Register Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- banner part start-->

    <!--::client logo part end::-->
    <section class="client_logo">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div
              class="client_logo_slider owl-carousel d-flex justify-content-between"
            >
              <div class="single_client_logo">
                <img src="{% static 'bbfs.jpg' %}" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="{% static 'scoutme.png' %}" alt="" />
              </div>
              <div class="single_client_logo">
                <img src="{% static 'ksfw.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--::client logo part end::-->

    <!-- about part start-->
    <section class="about_part section_padding">
      <div class="container">
        <h5 class="text-center" style="font-size:35px;">What do we do?</h5>
        <br><br><br>
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6">
            <div class="about_part_text">
              <h5>In sports!</h5>
              <h2>Changing the world through sports</h2>
              <p>
                Our goal is to make sports inclusive, accessible and genderless. Since the beginning, the sports field has been designed to cater the needs of cis-gendered persons. Through this program we want to break the stereotypes and allow everyone access to sports!
              </p>
              <a href="{% url 'contact' %}" class="btn_1">Contact Us</a>
            </div>
          </div>
          <div class="col-md-6">
              <div class="about_part_text rig">
                <h5>D&I in the workplace</h5>
                <h2>Sensitizing the ecosystem of sports</h2>
                <p>
                    The workplace is also a sphere where the focus usually remains on for cis-gender activities! For decades, the trans* community have been neglected and discriminated against but we plan to give everyone equal opportunity!
                </p>
                <a href="{% url 'signup' %}" class="btn_1">Register with us!</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about part end-->

    <!-- our_service start-->
    <section class="our_service">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>01</span>
                <h4>
                  National Exhibition <br />
                  matches
                </h4>
                <p>
                 We sensitize folks city by city, holding exhibition matches and spreading awareness through representation and dialogue.
                </p>
                <ul>
                  <li><a href="#">Making Impact</a></li>
                  <li><a href="#">Breaking Stereotype</a></li>
                  <li><a href="#">Spreading the word</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>02</span>
                <h4>Training and Coaching <br>
                nationally </h4>
                <p>
                With our partners BBFS and their national training centre network, we provide free of cost training and coaching to trans* football players & enthusiasts.
                </p>
                <ul>
                  <li><a href="#">Bringing change</a></li>
                  <li><a href="#">Moving towards permanency</a></li>
                  <li><a href="#">Expanding the community</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-4">
            <div class="single_feature">
              <div class="single_service">
                <span>03</span>
                <h4>More Opportunities</h4>
                <p>
                  We also plan to launch programs to take inclusivity one step further by providing permanent jobs at training centres! Our goal is to ensure that everyone has equal opportunity.
                </p>
                <br>
                <ul>
                  <li><a href="#">Social Acceptance</a></li>
                  <li><a href="#">Mainstreaming</a></li>
                  <li><a href="#">D&I in the Workplace</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our_service part end-->

    <!-- our_project part start-->
    <section class="our_project section_padding" id="portfolio">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-4">
            <div class="section_tittle">
              <p>our project</p>
              <h2>Our Initiatives</h2>
            </div>
          </div>
          <div class="col-lg-5 col-md-6">
            <div class="filters portfolio-filter project_menu_item">
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="more_btn d-none d-md-block">
              <a href="https://www.instagram.com/keshavsurifoundation/"><a class="more_btn_iner">Upcoming Events!</a>
            </div>
          </div>
        </div>
        <div class="filters-content">
          <div class="row justify-content-between portfolio-grid">
            <div class="col-lg-6 col-sm-6 all buildings">
              <div class="single_our_project">
                <div class="single_offer">
                  <img src="{% static 'display.jpg' %}" alt="offer_img_1" />
                  <div class="hover_text">
                    <p>Kickstarter Match</p>
                    <a href="https://www.thelalit.com/press-releases/kicking-gender-boundaries-2/"><h2>India's first all gender inclusive match!</h2></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 all rebuild">
              <div class="single_our_project">
                <div class="single_offer">
                  <img src="{% static 'bbfst.jpg' %}" alt="offer_img_1" />
                  <div class="hover_text">
                    <p>Making Permanent Impact</p>
                    <a href="#"><h2>The world's first trans* football inclusivity program</h2></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="filters-content">
          <div class="row justify-content-between portfolio-grid">
            <div class="col-lg-6 col-sm-6 all buildings" style="height:500px !important;">
              <div class="single_our_project">
                <div class="single_offer">
                  <img   src="{% static 'frame.png' %}" alt="offer_img_1" />
                  <div class="hover_text">
                    <p>Sensitisation Workshops</p>
                    <a href="https://www.thelalit.com/press-releases/kicking-gender-boundaries-2/"><h2>Creating informed and inclusive sport environments</h2></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-sm-6 all rebuild">
              <div class="single_our_project">
                <div class="single_offer">
                  <img src="{% static 'bbfst.jpg' %}" alt="offer_img_1" />
                  <div class="hover_text">
                    <p>Making Permanent Impact</p>
                    <a href="#"><h2>The world's first trans* football inclusivity program</h2></a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <img src="" class="animation_icon_2" alt="">
    </section>
    <!-- our_project part end-->

    <!-- about part start-->
    <section class="creative padding_bottom">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-start">
          <div class="col-md-6 col-xl-6 ms">
            <div class="creative_img">
              <img src="{% static 'logo.png' %}" alt="" />
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="creative_part_text">
              <h2>Do you want to become an ally? </h2>
              <p>
               If you support our cause, go follow our social media channels and join our mailing list below!
              </p>
              <span>Let's change the world together and make every spaces diverse and inclusive.</span
              >

                <div class="social_icon ones">
                  <a href="https://www.facebook.com/bbfschools/"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/KSF_IN"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.linkedin.com/company/scoutme/"><i class="fa fa-linkedin"></i></a>
                  <a href="https://www.instagram.com/keshavsurifoundation/"><i class="fa fa-instagram"></i></a>
                </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about part end-->

    <!--::review_part end::-->
    {% if error %}
    <h5>{{error}}</h5>
    {% endif %}
    <section class="m-subscribe1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4 style="font-size:30px;" class="m-subscribe1__title">Support us and become an ally!</h4>
      </div>
      <div class="col-12 col-lg-6">
        <form class="form-inline m-subscribe1__form" action="{% url 'mailinglist' %}"  method="post">
          {% csrf_token %}
          <input type="email" name="email" class="form-control" id="cta_newsletter_email" placeholder="Email...">
          <button type="submit" class="btn btn-primary mb-2">Support us!</button>
        </form>
      </div>
    </div>
  </div>
</section>
    <!--::review_part end::-->

    <!--::cta_part start::-->
    <div class="cta_part" style="background-image: url({% static 'prt.jpeg' %})">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="cta_iner">
              <h1>Want to hold an exhibition match in your city?</h1>
              <a href="{% url 'contact' %}" class="btn_1">Contact Us!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--::cta_part end::-->

    <!-- footer part start-->
    <footer class="footer-area">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="single-footer-widget footer_1">
              <a href="index.html">
                <img src="img/footer_logo.png" alt="" />
              </a>
              <ul>
                <li><a href="#">Work</a></li>
                <li><a href="mailto:kickinggenderboundaries@gmail.com">Email</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
              <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/scoutme/"><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <h4>Partners</h4>
              <ul>
                <li>
                  <a href="https://keshavsuri.foundation">Keshav Suri Foundation</a>
                </li>
                <li>
                  <a href="https://bbfootballschools.com">BBFS</a>
                </li>
                <li>
                  <a href="http://scoutme.in">ScoutMe</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <h4>Resources</h4>
              <ul>
                <li>
                  <a href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li>
                  <a href="{% url 'signup' %}">Register</a>
                </li>
                <li>
                  <a href="#">Social Media</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-md-3">
            <div class="single-footer-widget footer_2">
              <div class="single_contact_info">
                <h3>Keshav Suri Foundation</h3>
                <p></p>
                <p>info@keshavsuri.foundation</p>
              </div>
              <div class="single_contact_info">
                <h3> <a href="#"></a> Bhaichung Bhutia Football Schools</h3>
                <p></p>
                <p>info@bbfootballschools.com</p>
              </div>
              <div class="single_contact_info">
                <h3>ScoutMe</h3>
                <p></p>
                <p>contact@scoutme.in</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright_part_text text-center">
              <div class="row">
                <div class="col-lg-12">
                  <p class="footer-text m-0">
                    Trans* refers to all transgender, non-binary and gender non conforming identities.
                  </p>
                  <br>
                  <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        ScoutMe &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https://colorlib.com" target="_blank">Template credits</a>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="img/animate_icon/icon_2.png" class="animation_icon_2" alt="">

    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <script src="{% static 'jquery-1.12.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="{%static 'popper.min.js'%}"></script>
    <!-- bootstrap js -->
    <script src="{%static 'bootstrap.min.js'%}"></script>
    <!-- easing js -->
    <script src="{%static 'jquery.magnific-popup.js'%}"></script>
    <!-- isotope js -->
    <script src="{%static  'isotope.pkgd.min.js'%}"></script>
    <!-- particles js -->
    <script src="{% static 'owl.carousel.min.js'%}"></script>
    <script src="{% static 'jquery.nice-select.min.js'%}"></script>
    <!-- custom js -->
    <script src="{% static 'custom.js'%}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function(){
          var scroll_pos = 0;
          $(document).scroll(function() {
              scroll_pos = $(this).scrollTop();
              if(scroll_pos > 210) {
                  $("header").css('background-color', '#002F46');
              } else {
                  $("header").css('background-color', 'transparent');
              }
          });
      });
    </script>
  </body>
</html>
